body {
	font-family: Poppins, serif;
	text-align: center;
	background-color: #222f3e;
	color: #c8d6e5;
}

table {
	//background-color: #576574;
	margin: auto;
	width: 80%;
	padding: 10px;
	border: 2px solid;
	border-radius: 25px;
	color: #c8d6e5;
	font-size: larger;
}

.top_bar {
	background-color: #c8d6e5;
	color: #222f3e;
	border-radius: 25px;
	font-size: larger;
}

.input_table {
	margin: auto;
	width: 80%;
	border: 0px solid;
}

.price {
	margin: auto;
	border-radius: 25px;
	border: 2px solid;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: max-content;

}

h1 {
	font-size: 50px;
	font-weight: bolder;
}

input {
	height: 70px;
	width: 100%;
	border-radius: 25px;
	background-color: #c8d6e5;
	color: #222f3e;
	text-align: center;
	font-size: larger;
	font-weight: bolder;
}